BowserBros/BowserBros.pro.user
build-BowserBros/
BowserBros/.DS_Store
BowserBros/App/.DS_Store
build-BowserBros-Desktop_Qt_6_5_1_MinGW_64_bit-Debug/
build-BowserBros-Desktop_Qt_6_4_1_MinGW_64_bit-Debug/